.custom-dropdown {
    /* width: 200px; */
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #F5F5F5;
    cursor: pointer;
}

.dropdown-header img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-header p {
    flex-grow: 1;
    margin: 0;
}

.arrow {
    font-size: 12px;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F5F5F5;
    z-index: 100000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-option:hover {
    background-color: #f1f1f1;
}

.dropdown-option img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-option p {
    margin: 0;
}